
    <section class="container footer-container">
      <div class="columns">
          <div class="column is-12-desktop is-flex is-flex-direction-column is-justify-content-center is-align-items-center  ">
              <img src="/assets/LogoMakr-80dZid.png" width="80px" alt="" class="logo-footer">
              <div class="is-flex is-flex-direction-row is-justify-content-center  footer-sections">
                  <div><p><a href="#home">Home</a></p></div>
                  <div><p><a href="#about">About</a></p></div>
                  <div><p><a href="#portfolio">Portfolio</a></p></div>
                  <div><p><a href="#contact">Contact</a></p></div>
              </div>
              <div class="social-media">
                  <span class="icon is-large is-size-4 px-5">
                      <a id="profile-link" target="_blank" href="https://github.com/saperez17/">
                          <i class="fab fa-github-square"></i>
                      </a>
                  </span>
                  <span class="icon is-large is-size-4 px-5">
                      <a id="" target="_blank" href="https://www.facebook.com/profile.php?id=1630614176">
                          <i class="fab fa-facebook-square"></i>
                      </a>
                  </span>
                  <span class="icon is-large is-size-4 px-5">
                      <a id="" target="_blank" href="https://twitter.com/santiag98152748">
                          <i class="fab fa-twitter-square"></i>
                      </a>
                  </span>
                  <span class="icon is-large is-size-4 px-5">
                      <a id="" target="_blank" href="mailto:santiagobn1@gmail.com">
                          <i class="fas fa-envelope"></i>
                      </a>
                  </span>
                  <span class="icon is-large is-size-4 px-5">
                      <a id="" target="_blank" href="">
                          <i class="fas fa-mobile"></i>
                      </a>
                  </span>
              </div>
              <div><p>Copyright © 2021. All rights reserved. Designed by Santiago Alvarado</p></div>
          </div>
      </div>
  </section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
</body>

</html>